<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div>
            <h2>Upload de arquivos para Timestamp</h2>

            <!--mensagens flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div>
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!-- Seção de Upload de Arquivo -->
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="file-upload">
                    <input type="file" name="file" id="file-upload" required>
                    Escolher arquivo
                </label>
                <span id="file-name">Nenhum arquivo escolhido</span>
                <button type="submit">Enviar e Criar Timestamp</button>
            </form>

            <hr>

            <!-- Seção de Verificação de Timestamp -->
            <h3>Verificar Timestamp de um Arquivo</h3>
            <form action="/verify" method="POST">
                <label for="hash">Digite o Hash para verificar:</label>
                <input type="text" name="hash" id="hash" placeholder="Digite o hash SHA-256" required>
                <button type="submit">Verificar Timestamp</button>
            </form>
        </div>

        <script>
            const fileInput = document.getElementById('file-upload');
            const fileNameDisplay = document.getElementById('file-name');

            // Exibir o nome do arquivo selecionado
            fileInput.addEventListener('change', () => {
                if (fileInput.files.length > 0) {
                    fileNameDisplay.textContent = fileInput.files[0].name;
                } else {
                    fileNameDisplay.textContent = 'Nenhum arquivo escolhido';
                }
            });
        </script>
    </div>

    <a href="/politicas" class="info-link">Política de Privacidade</a>
</body>
</html>